@import '../../node_modules/antd/dist/antd.css';

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  color: #1890ff !important;
  transition: color .3s;
}

 .logo {
  color: white;
  font-weight: bold;
  font-size: 16px;
  height: 32px;
  margin: 16px;
}

.login-container {
    max-width: 300px;
    border: 1px solid #a5a5a6;
    margin: 200px auto;
    padding: 10px;
    border-radius: 5px;
}

.login-container .login-form-button {
    width: 100%;
}